/*** FROM MINIMAL THEME ***/
/* [f] Fire */
/* input[data-task="f"]:checked,
li[data-task="f"]>input:checked,
li[data-task="f"]>p>input:checked {
    --checkbox-color: var(--color-red);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z' clip-rule='evenodd' /%3E%3C/svg%3E");
} */

/* [u] Up */
input[data-task="u"]:checked,
li[data-task="u"]>input:checked,
li[data-task="u"]>p>input:checked {
    --checkbox-color: var(--color-green);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M12 7a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0V8.414l-4.293 4.293a1 1 0 01-1.414 0L8 10.414l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0L11 10.586 14.586 7H12z' clip-rule='evenodd' /%3E%3C/svg%3E");
}

/* [d] Down */
input[data-task="d"]:checked,
li[data-task="d"]>input:checked,
li[data-task="d"]>p>input:checked {
    --checkbox-color: var(--color-red);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M12 13a1 1 0 100 2h5a1 1 0 001-1V9a1 1 0 10-2 0v2.586l-4.293-4.293a1 1 0 00-1.414 0L8 9.586 3.707 5.293a1 1 0 00-1.414 1.414l5 5a1 1 0 001.414 0L11 9.414 14.586 13H12z' clip-rule='evenodd' /%3E%3C/svg%3E");
}

/*** CUSTOM TASK STYLES ***/
/** 
  * [/] Half Diagonal In-Progress
  */
div[data-task="/"],
li.task-list-item[data-task="/"],
li.task-list-item[data-task="/"]>p {
    color: var(--text-normal);
    font-weight: var(--font-normal);
    text-decoration: none;
}

div[data-task="/"]>label.task-list-label,
li.task-list-item[data-task="/"],
li.task-list-item[data-task="/"]>p,
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="/"] {
    /* Uncomment colour variables for themes that don't have it defined */
    /* --pink-hue: 330;
    --primary-sat: 100%;
    --primary-lit: 75.1%;
    --pink-tuple: var(--pink-hue), var(--primary-sat), var(--primary-lit);
    --pink: hsl(var(--pink-tuple));
    --pink-300: hsla(var(--pink-tuple), 0.3);
    --pink-400: hsla(var(--pink-tuple), 0.4); */
    --checkbox-color-hover: var(--pink) !important;
    --checkbox-in-progress: var(--pink);

    --checkbox-color: var(--checkbox-in-progress);
    --checkbox-border-color: var(--checkbox-in-progress);
    --checkbox-marker-color: transparent;
    --checklist-done-decoration: none;
}

/* input[data-task="/"]:checked,
li[data-task="/"]>input[type=checkbox]:checked,
li[data-task="/"]>p>input[type=checkbox]:checked, */
.anp-custom-checkboxes [data-task="/"]>input[type=checkbox]:checked,
    .anp-custom-checkboxes [data-task="/"]>p>input[type=checkbox]:checked,
    .anp-custom-checkboxes [data-task="/"][type=checkbox]:checked {
    border-color: var(--pink) !important;
    background: linear-gradient(-45deg, transparent 50%, var(--pink-300) 50%);
}

input[data-task="/"]:checked:after,
li[data-task="/"]>input[type=checkbox]:checked:after,
li[data-task="/"]>p>input[type=checkbox]:checked:after {
    transform: none;
    -webkit-mask-image: none;
    background: unset;
    content: " ";
}

/**
  * [o] For tasks send off for a second pair of eyes (eye)
  */
div[data-task="o"],
li.task-list-item[data-task="o"],
li.task-list-item[data-task="o"]>p {
    color: var(--text-normal);
    font-weight: var(--font-normal);
    text-decoration: none;
}

div[data-task="o"]>label.task-list-label,
li.task-list-item[data-task="o"],
li.task-list-item[data-task="o"]>p,
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="o"] {
    --checkbox-color-hover: none !important;
    /* --checkbox-in-progress: var(--pink); */

    --checkbox-color: var(--checkbox-in-progress);
    --checkbox-border-color: var(--checkbox-in-progress);
    --checkbox-marker-color: transparent;
    --checklist-done-decoration: none;
}
.anp-custom-checkboxes [data-task="o"]>input[type=checkbox]:checked,
    .anp-custom-checkboxes [data-task="o"]>p>input[type=checkbox]:checked,
    .anp-custom-checkboxes [data-task="o"][type=checkbox]:checked {
    border-color: var(--pink) !important;
}

input[data-task="o"]:checked:after,
li[data-task="o"]>input[type=checkbox]:checked:after,
li[data-task="o"]>p>input[type=checkbox]:checked:after {
    /* transform: none; */
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3C!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d='M572.5 241.4C518.3 135.6 410.9 64 288 64S57.7 135.6 3.5 241.4a32.4 32.4 0 0 0 0 29.2C57.7 376.4 165.1 448 288 448s230.3-71.6 284.5-177.4a32.4 32.4 0 0 0 0-29.2zM288 400a144 144 0 1 1 144-144 143.9 143.9 0 0 1 -144 144zm0-240a95.3 95.3 0 0 0 -25.3 3.8 47.9 47.9 0 0 1 -66.9 66.9A95.8 95.8 0 1 0 288 160z'/%3E%3C/svg%3E");
    -webkit-mask-size: contain;
    background-color: rgb(var(--ctp-sapphire));
    left: 0;
    /* content: " "; */
}

/* [k] Key */
/* input[data-task="k"]:checked,
li[data-task="k"]>input:checked,
li[data-task="k"]>p>input:checked {
    color: var(--color-yellow);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https: //fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d='M512 176C512 273.2 433.2 352 336 352c-11.2 0-22.2-1.1-32.8-3.1l-24 27A24 24 0 0 1 261.2 384H224v40c0 13.3-10.7 24-24 24h-40v40c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24v-78.1c0-6.4 2.5-12.5 7-17l161.8-161.8C163.1 213.8 160 195.3 160 176 160 78.8 238.8 0 336 0 433.5 0 512 78.5 512 176zM336 128c0 26.5 21.5 48 48 48s48-21.5 48-48-21.5-48-48-48-48 21.5-48 48z'/%3E%3C/svg%3E");
} */


/* [!] Alert Triangle */
input[data-task="!"]:checked,
li[data-task="!"]>input:checked,
li[data-task="!"]>p>input:checked {
    --checkbox-color: var(--color-yellow);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d='M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z'/%3E%3C/svg%3E");
    /* -webkit-mask-size: contain; */
}
