/** 
  * Half Diagonal In-Progress
  */
div[data-task="/"],
li.task-list-item[data-task="/"],
li.task-list-item[data-task="/"]>p {
    color: var(--text-normal);
    font-weight: var(--font-normal);
    text-decoration: none;
}

div[data-task="/"]>label.task-list-label,
li.task-list-item[data-task="/"],
li.task-list-item[data-task="/"]>p,
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="/"] {
    /* Uncomment colour variables for themes that don't have it defined */
    /* --pink-hue: 330;
    --primary-sat: 100%;
    --primary-lit: 75.1%;
    --pink-tuple: var(--pink-hue), var(--primary-sat), var(--primary-lit);
    --pink: hsl(var(--pink-tuple));
    --pink-300: hsla(var(--pink-tuple), 0.3);
    --pink-400: hsla(var(--pink-tuple), 0.4); */
    --checkbox-color-hover: var(--pink) !important;
    --checkbox-in-progress: var(--pink);

    --checkbox-color: var(--checkbox-in-progress);
    --checkbox-border-color: var(--checkbox-in-progress);
    --checkbox-marker-color: transparent;
    --checklist-done-decoration: none;
}

/* input[data-task="/"]:checked,
li[data-task="/"]>input[type=checkbox]:checked,
li[data-task="/"]>p>input[type=checkbox]:checked, */
.anp-custom-checkboxes [data-task="/"]>input[type=checkbox]:checked,
    .anp-custom-checkboxes [data-task="/"]>p>input[type=checkbox]:checked,
    .anp-custom-checkboxes [data-task="/"][type=checkbox]:checked {
    border-color: var(--pink) !important;
    background: linear-gradient(-45deg, transparent 50%, var(--pink-300) 50%);
}

input[data-task="/"]:checked:after,
li[data-task="/"]>input[type=checkbox]:checked:after,
li[data-task="/"]>p>input[type=checkbox]:checked:after {
    transform: none;
    -webkit-mask-image: none;
    background: unset;
    content: " ";
}

/**
  * For tasks send off for a second pair of eyes (eye)
  */
div[data-task="o"],
li.task-list-item[data-task="o"],
li.task-list-item[data-task="o"]>p {
    color: var(--text-normal);
    font-weight: var(--font-normal);
    text-decoration: none;
}

div[data-task="o"]>label.task-list-label,
li.task-list-item[data-task="o"],
li.task-list-item[data-task="o"]>p,
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="o"] {
    --checkbox-color-hover: var(--pink) !important;
    /* --checkbox-in-progress: var(--pink); */

    --checkbox-color: var(--checkbox-in-progress);
    --checkbox-border-color: var(--checkbox-in-progress);
    --checkbox-marker-color: transparent;
    --checklist-done-decoration: none;
}
.anp-custom-checkboxes [data-task="o"]>input[type=checkbox]:checked,
    .anp-custom-checkboxes [data-task="o"]>p>input[type=checkbox]:checked,
    .anp-custom-checkboxes [data-task="o"][type=checkbox]:checked {
    border-color: var(--pink) !important;
}

input[data-task="o"]:checked:after,
li[data-task="o"]>input[type=checkbox]:checked:after,
li[data-task="o"]>p>input[type=checkbox]:checked:after {
    /* transform: none; */
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3C!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d='M572.5 241.4C518.3 135.6 410.9 64 288 64S57.7 135.6 3.5 241.4a32.4 32.4 0 0 0 0 29.2C57.7 376.4 165.1 448 288 448s230.3-71.6 284.5-177.4a32.4 32.4 0 0 0 0-29.2zM288 400a144 144 0 1 1 144-144 143.9 143.9 0 0 1 -144 144zm0-240a95.3 95.3 0 0 0 -25.3 3.8 47.9 47.9 0 0 1 -66.9 66.9A95.8 95.8 0 1 0 288 160z'/%3E%3C/svg%3E");
    -webkit-mask-size: contain;
    background-color: rgb(var(--ctp-sapphire));
    left: 0;
    /* content: " "; */
}